@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* colors taken from the Nord palette (https://www.nordtheme.com and https://github.com/arcticicestudio/nord-visual-studio-code/) */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body { 
  margin:0; 
  padding:0; 
  height:100%; 
  background-color: #242933;
  font-family: 'Fira Code', monospace;
}

.parent-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 10px;
}

.header-container {
  margin-left: 15px;
}

.header {
  font-size: 20px;
  color: #ECEFF4
}

.noscript {
  font-size: 15px;
  color: #ECEFF4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.version {
  font-size: 12px;
  color: #81A1C1;
}

.link {
  font-size: 12px;
  color: #81A1C1;
}

.editor {
  height: 100%;
  width: 50%;
  margin: 5px;
}

.top-bar {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#copy-button {
  margin-right: 15px;
  border-radius: 10px;
  border: 1px solid #ECEFF4;
  color: #ECEFF4;
  background: #2E3440;
  font: inherit;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  width: 90px;
  overflow: hidden;
  line-break:normal;

  /* reset */
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

@media only screen and (max-width: 600px){
  .parent-container {
    flex-direction: column;
  }

  .editor {
    height: 50%; 
    width: 100%;
  }
}

