@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* colors taken from the Nord palette (https://www.nordtheme.com and https://github.com/arcticicestudio/nord-visual-studio-code/) */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body { 
  margin:0; 
  padding:0; 
  height:100%; 
  background-color: #242933;
  font-family: 'Fira Code', monospace;
}

@keyframes flicker {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100vw;
  }
}

.editor-loader {
  opacity: 1;
  height: 100%;
  width: 50%;
  margin: 0 5px 5px 5px;
  overflow: hidden;
  border: 0px solid transparent;
  padding: 10px;
}

.editor-loader-line::before {
  display:block;
  content: "";
  height: 4px;
  width: 4px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #4C566A40;
  margin-left: -35px;
  position: absolute;
  top: 4px;
}

.editor-loader-line {
  position: relative;
  display: block;
  border-radius: 5px;
  animation: flicker 15s ease-in-out alternate infinite;
  margin-bottom: 10px;
  margin-left: 55px;
  height: 8px;
  background-color: #4C566A;
  background: linear-gradient(to right, #4C566A40, #3B425240, #3B425240, #4C566A40);
}

@media (prefers-reduced-motion) {
  .editor-loader-line {
    animation: none;
  }
}

.editor-loader-line-1 {
  width: calc(100% - 55px);
}

.editor-loader-line-2 {
  width: calc(75% - 55px);
}

.editor-loader-line-3 {
  width: calc(75% - 55px);
}

.editor-loader-line-4 {
  width: calc(50% - 55px);
}

.editor-loader-line-5 {
  width: calc(25% - 55px);
}

.parent-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 10px;
}

.header-container {
  margin-left: 15px;
}

.header {
  font-size: 20px;
  color: #ECEFF4
}

.noscript {
  font-size: 15px;
  color: #ECEFF4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.version {
  font-size: 12px;
  color: #4C566A;
}

.link {
  font-size: 12px;
  color: #81A1C1;
}

.editor {
  height: 100%;
  width: 50%;
  margin: 5px;
  display: none;
}

.top-bar {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#copy-button {
  margin: 20px 15px 0px 10px;
  border: 1px solid #4C566A40;
  color: #ECEFF4;
  background: #2E3440;
  font: inherit;
  font-size: 12px;
  cursor: pointer;
  width: 110px;
  overflow: hidden;
  line-break:normal;
  transition: background 0.15s ease;
  
  /* reset */
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

@media only screen and (max-width: 600px){
  .parent-container {
    flex-direction: column;
  }

  .editor {
    height: 50%; 
    width: 100%;
  }

  .editor-loader {
    height: 50%; 
    width: 100%;
  }
}

