[package]
name = "melody_cli"
description = "A CLI wrapping the Melody language compiler"
homepage = "https://github.com/yoav-lavi/melody"
repository = "https://github.com/yoav-lavi/melody"
readme = "README.md"
version = "0.4.1"
edition = "2021"
rust-version = "1.58.0"
license = "MIT"
keywords = ["melody", "melodylang"]

[dependencies]
clap = { version = "3.0.7", features = ["derive"] }
colored = "2.0.0"
melody_compiler = { version = "0.4.1", path = "../melody_compiler" }

[[bin]]
name = "melody"
path = "./src/main.rs"
