[package]
name = "melody_wasm"
version = "0.8.0"
edition = "2021"
rust-version = "1.58.0"
description = "WASM bindings for the Melody language compiler"
license = "MIT"
repository = "https://github.com/yoav-lavi/melody"


[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
melody_compiler = { version = "0.8.0", path = "../melody_compiler" }
